@import "tailwindcss";


@theme {
  --font-sans: "Onest", system-ui, sans-serif;

  --color-tree-light: #EBF0FE;
  --color-tree-dark:  #0B0A0A;
  --color-tree-blue:  #246AFE;
}


@layer base {
  html { font-family: var(--font-sans); }
  body { @apply bg-tree-light text-tree-dark; }
}
